@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model smart_alert_web.Models.LoginForm

<div class="d-flex justify-content-center mt-4 " style="min-height: 80%;">
    <form asp-controller="Login" asp-action="Login" method="post" class="d-flex flex-column w-75 w-md-50 w-lg-25 border px-lg-5 px-3 shadow">
        

        <div asp-validation-summary="ModelOnly" class="login-error text-danger"></div>
        <h3 class="text-center mt-5 undrln">SmartAlert</h3>
        <label class="form-label mt-3">Username:</label>
        <input asp-for="@Model.email" type="text" class="form-control">
        <div class="error-message text-danger">
            <span asp-validation-for="@Model.email"></span>
        </div>
        
        <label class="form-label mt-3">Password:</label>
        <div class="input-group">
            <input asp-for="@Model.password" id="passwordInput" type="password" class="form-control border-end-0" />
        </div>
        <div class="error-message text-danger">
            <span asp-validation-for="@Model.password"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Sign In</button>
        <a href="#" class="link-primary text-decoration-none mt-4 mb-4">Forgot your password?</a>
    </form>
</div>
