@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mb-4 mt-5 undrln">High-risk alerts</h1>
    <h5 class="mb-3"><i class="fa-solid fa-triangle-exclamation"></i> The alerts are displayed in descending order according to the danger degree. <i class="fa-solid fa-triangle-exclamation"></i></h5>
        <h5>(from the most dangerous to the least)</h5>

    <table class="table mt-4 table-hover">
        <thead class="tbl mb-5">
            <tr>
                <th scope="col">Danger Degree</th>
                <th scope="col">Alert Message</th>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Location</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
                    <tr>
                        
                        <th class="high" scope="row">High danger</th>
                        <td scope="row">Message</td>
                        <td scope="row">1</td>
                        <td scope="row">Fire</td>
                        <td scope="row">12:00</td>
                        <td scope="row">Peristeri</td>
                        <td> 
                            <div class="">
                                
                                <button type="submit" class="btn">Send Alert</button>


                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="high" scope="row">High danger</th>
                        <td scope="row">Message</td>
                        <td scope="row">1</td>
                        <td scope="row">Fire</td>
                        <td scope="row">12:00</td>
                        <td scope="row">Peristeri</td>
                        <td> 
                            <div class="">
                                
                                <button type="submit" class="btn">Send Alert</button>


                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <th class="medium" scope="row">Medium Danger</th>
                        <td scope="row">Message</td>
                        <td scope="row">1</td>
                        <td scope="row">Fire</td>
                        <td scope="row">12:00</td>
                        <td scope="row">Peristeri</td>
                        <td> 
                            <div class="">
                                
                                <button type="submit" class="btn">Send Alert</button>


                            </div>
                            
                        </td>
                    </tr>
        </tbody>

    </table>

</div>
